body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}




/* ============menu bar============ */

.menubar{
    background-color:#000033;
    position: fixed;
    top: 0;
    width: 100%;
}


.logo{
    background-color: pink;
    height: 100px;
    width: 200px;
    margin-left: 10px;
   
}
.menudiv{
    position: absolute;
    top: 7px;
    right: 30px;
}

.menuul{
    overflow: hidden;

}
.menuul li{
    list-style: none;
    float: left;
    
}
.menuli-a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 25px;
    font-weight: bold;
    
}
.logoimg{
    padding-top:14px;
    padding-right: 15px;
    padding-left: 10px;
}
.menuli-a:hover {
    background-color: violet;
    border-radius: 20px
}
/* ========-====Menu bar Finished================ */

.bigimg{
    margin-bottom: 100px;
    width: 1600px;
}
/* ================frombox==================== */
.form-hadding{
	width: 940px;
    background-color: skyblue;
    margin: auto;
}
.formbox{
    
    width: 900px;
    background-color: skyblue;
    margin: auto;
    padding: 0 20px 20px 20px;
}

.line1{
    text-align: left;
    font-weight: bold;
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin: 0;
}
.line2{
    padding: 10px;
    text-align: left;
    font-weight: bold;
    margin: 0;
}
.para small{
    color: green;
}
.mainfrom{
    width: 800px;
    padding-bottom: 40px;
}
.input-sec1{
	display: flex;
    color:black;
    font-size: 12px;
}
.width-33 input{
    font-size: 18px;
    border: green 0.5px dotted;
    
}
.width-33 p{
    font-size: 15px;
    
}
.width-33{
	width: 30%;
}
.submit{
	margin-left: 800px;


}
.submit input{
    background-color: blueviolet;
    font-size: 25px;
    color: white;
    
}
.width-33 select {
    font-size: 18px;
    
}
/* ===============Footer start================== */

.footermain{
    background-color:#000033;
    overflow: hidden;
}
.footermain div{
    width: 17%;
    float: left;
    padding-left: 0px;
    margin-left: 0px;
}

.footermain li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footermain li a{
    color: white;
    text-decoration: none;
}
.footermain li a:hover{
    color: yellow;
}

/* ================ Footer finished================== */
