body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}




/* ============menu bar============ */

.menubar{
    background-color:#000033;
    
}


.logo{
    background-color: pink;
    height: 100px;
    width: 200px;
    margin-left: 10px;
   
}
.menudiv{
    position: absolute;
    top: 7px;
    right: 30px;
}

.menuul{
    overflow: hidden;

}
.menuul li{
    list-style: none;
    float: left;
    
}
.menuli-a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 25px;
    font-weight: bold;
    
}
.logoimg{
    padding-top:14px;
    padding-right: 15px;
    padding-left: 10px;
}
.menuli-a:hover {
    background-color: violet;
    border-radius: 20px
}
/* ========-====Menu bar Finished================ */
.bigimg{
    margin-bottom: 100px;
    width: 1600px;
}
.stuffline{
    width: 960px;
    margin: auto;
    background-color: rgb(233, 236, 235);
    height: 320px;
    border: rgb(199, 192, 192) 0.5px solid;
}
.stuffline div{
    width:300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 10px;
}
.stuffline div p{
    color: black;
    font-size: 24px;
    text-align: center;
}
.stuffline div p:hover{
    color: blueviolet;

}




/* ===============Footer start================== */

.footermain{
    background-color:#000033;
    overflow: hidden;
}
.footermain div{
    width: 17%;
    float: left;
    padding-left: 0px;
    margin-left: 0px;
}

.footermain li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footermain li a{
    color: white;
    text-decoration: none;
}
.footermain li a:hover{
    color: yellow;
}
.icons{
    height: 100px;
    width: 300px;
    position: relative
    right: 22px;
    top: 300px;
    color: white;
    font-family: comic sans ms;
}
/* ================ Footer finished================== */
